target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
Would skip repository nori/
src/main/resources/static/
src/main/resources/templates/apilistener.html
src/main/resources/templates/dashboard.html
src/main/resources/templates/productdetail.html
